<html>
    <head>
        <title>Aplicación</title>
    </head>
    <body>
        <h1>Resultados</h1>
        {{#each data}}
            <li> ID encargado regional: {{BusinessEntityID}}, Crecimiento en ventas: {{Crecimiento}}</li>
        {{/each}}
    </body>
</html>
