<html>
    <head>
        <title>Aplicación</title>
    </head>
    <body>
        <h1>Resultados</h1>
        {{#each data}}
            <li> Tienda: {{Tienda}}, ventas: {{Ventas}}</li>
        {{/each}}
    </body>
</html>
