<html>
    <head>
        <title>Aplicación</title>
    </head>
    <body>
        <h1>Resultados</h1>
        {{#each data}}
            <li> Región: {{Name}}, ventas: {{SalesYTD}}</li>
        {{/each}}
    </body>
</html>
